@using BookStore.Models
@{
    ViewBag.Title = "Orders";
}
@model List<Order>
<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Oreders</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================Checkout Area =================-->
    <section class="checkout_area section_padding">
        <div class="container">
            @{
                int SubTotal = 0;
                int Total = 0;
                <div class="billing_details">
                    <div class="row">

                        <div class="col-lg-10" style="margin-left:50px">
                            <div class="order_box">
                                <h2>Your Orders</h2>
                                <ul class="list">

                                    <li>
                                        <a href="#">
                                            Product
                                            <span>Total</span>
                                        </a>
                                    </li>
                                    @foreach (var item in Model)
                                    {


                                        int Total_Price = (int)item.Total;
                                        <li>
                                            <a href="#">
                                                @item.Book.Title
                                                <span class="middle">x @item.Count</span>
                                                <span class="last">@Total_Price</span>
                                            </a>

                                        </li>
                                        SubTotal += Total_Price;

                                    }
                                    <ul class="list list_2">
                                        <li>
                                            <a href="#">
                                                Subtotal
                                                <span>@SubTotal Egp </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Shipping
                                                <span>Flat rate: 50 Egp</span>
                                            </a>
                                        </li>
                                        @{
                                            Total = SubTotal + 50;
                                        }
                                        <li>
                                            <a href="#">
                                                Total
                                                <span>@Total Egp</span>
                                            </a>
                                        </li>

                                    </ul>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
    <!--================End Checkout Area =================-->
</main>

