@using BookStore.Models
@model List<AddToCart>
@{
    ViewBag.Title = "Index";
}

<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Cart List</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================Cart Area =================-->
    <section class="cart_area section_padding">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (AddToCart item in Model)
                            {
                                int price = (int)item.Book.Price;
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="~/content/assets/img/Books/@item.Book.IMG" alt="" />
                                            </div>
                                            <div class="media-body">
                                                <p>@item.Book.Title</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @price
                                    </td>
                                    <td>
                                        <div class="product_count">
                                            @item.Count
                                        </div>
                                    </td>
                                    <td>
                                        @item.Total_Price
                                    </td>
                                    <td>
                                        <a href="/Cart/RemoveItem/@item.ISBN"><i class="fa fa-times-circle" style="font-size:48px;color:red"></i></a>

                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    <div class="checkout_btn_inner float-right">
                        <a class="btn_1" href="/Shop">Continue Shopping</a>
                        <a class="btn_1 checkout_btn_1" href="/CheckOut">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
</main>